:root{
    --cell_background : #efefef
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 3px;
    margin-top: 20px;
    justify-content: center;
}

.unclickable{
    pointer-events: none;
}



.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cell_background);
}

.cell:hover{
    filter: brightness(80%);
}